<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->
<header class="d-flex flex-column justify-content-between flex-shrink-0">
    <div>
       <div class="logo"></div>
        <ul class="list-unstyled fw-bold menu">
            <li><a href="#"><span class="material-symbols-outlined">insert_chart</span>Dashboard</a></li>
            <li><a href="#"><span class="material-symbols-outlined">forum</span>Question</a></li>
            <li><a href="#"><span class="material-symbols-outlined">assignment</span>Assignment</a></li>
            <li><a href="#"><span class="material-symbols-outlined">video_library</span>Course</a></li>
            <li><a href="#"><span class="material-symbols-outlined">group</span>Admin</a></li>
            <li><a href="#"><span class="material-symbols-outlined">settings</span>Settings</a></li>
        </ul> 
    </div>
    <div class="d-flex align-items-center pb-5 px-5 member-info">
        <img src="../assets/images/andychen.jpeg" alt="andychen" />
        <div class="d-flex flex-column">
            <span class="name">Andy Chen</span>
            <span class="email">andy0401@mail.com</span>
        </div>
    </div>

    
</header>